.header {
  display: flex;
  position: relative;
  text-align: center;
  background-color: #b8084a;
  width: 100%;
  height: 50px;
}

.front-notification {
  width: 50%;
  text-align: center;
  padding: 15px;
}
.front-notification-message {
  color: #ffffff;
  font-family: "Quicksand", Sans-serif;
  font-size: 22px;
  margin: auto;
  font-weight: 400;
  float: right;
}

.front-button {
  position: relative;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  font-family: "Quicksand", Sans-serif;
  font-size: 14px;
}

.button1 {
  position: relative;
  top: 7px;
  float: left;
  padding: 5px;
  background-color: #013146;
  width: 100px;
  height: 20px;
}

.white-square {
  height: 10px;
  width: 10px;
  background-color: #ffffff;
  position: absolute;
  top: 5px;
  right: 5px;
}

nav.navigation {
  height: 100px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.logosec {
  width: 15%;
  display: inline-block;
}

.logo1 {
  display: inline-block;
}

section.menusec {
  width: 60%;
  display: inline-block;
}

.menu {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  display: inline-block;
}

.menu1 {
  display: inline-block;
}
.menu2 {
  display: inline-block;
}
.menu3 {
  display: inline-block;
}
.menu4 {
  display: inline-block;
}
.menu5 {
  display: inline-block;
}

.menu1 a {
  color: black;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-family: "Quicksand", Sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.menu2 a {
  color: black;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-family: "Quicksand", Sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.menu3 a {
  color: black;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-family: "Quicksand", Sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.menu4 a {
  color: black;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-family: "Quicksand", Sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.menu5 a {
  color: black;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-family: "Quicksand", Sans-serif;
  font-size: 20px;
  font-weight: 400;
}

section.donatesec {
  width: 15%;
  display: inline-block;
}

.donate {
  width: 190px;
  height: 61px;
  background-color: #b8084a;
  border-radius: 360px;
}

button.donate a {
  font-family: "Quicksand", Sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
}

section.searchsec {
  width: 5%;
  display: inline-block;
}
.img-over {
  float: left;
  clear: both;
}
input {
  display: none;
}
section.background-img {
  position: relative;
  width: 100%;
  height: 710px;
}
img.img1 {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}
img.img2 {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0px;
}

h1 {
  position: absolute;
  z-index: 3;
  font-size: 66px;
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
  display: block;
  color: #ffffff;
}

h1.h1-1 {
  top: 100px;
  left: 50px;
}
h1.h1-2 {
  top: 186px;
  left: 50px;
}
h1.h1-3 {
  top: 272px;
  left: 50px;
}

button.button2 a {
  position: absolute;
  z-index: 3;
  bottom: 100px;
  left: 60px;
  font-family: "Quicksand", Sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  color: #b8084a;
  border: 1px black solid;
  width: 190px;
  height: 61px;
  background-color: white;
  border-radius: 360px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

section.blue {
  width: 100%;
  height: 215px;
  z-index: 4;
  position: relative;
  top: 690px;
  background-color: #0b6f97;
  text-align: center;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

img.envelop {
  display: inline-block;
}
h3.h3-blue {
  display: inline-block;
  font-size: 36px;
  line-height: 46px;
  margin: 10px 20px;
  font-family: "Quicksand", sans-serif;
  color: #ffffff;
}
section.emailsec {
  position: relative;
  width: 485px;
  height: 65px;
}
input.email {
  display: inline-block;
  position: absolute;
  z-index: 3;
  width: 483px;
  height: 65px;
  top: 0;
  left: 0;
  font-family: "Quicksand", Sans-serif;
  font-size: 20px;
  text-indent: 10%;
  border-radius: 360px;
  background-color: #d5dcde;
  border: none;
}
input.subscribe {
  display: inline-block;
  position: absolute;
  z-index: 3;
  width: 220px;
  font-family: "Quicksand", Sans-serif;
  font-size: 16px;
  height: 66px;
  top: 0;
  right: 0;
  color: #b8084a;
  font-weight: 800;
  border-radius: 360px;
  border: none;
  background-color: white;
}

footer {
  position: absolute;
  width: 100%;
  height: 558px;
  z-index: 5;
  top: 922px;
  background-color: #4e4f50;
}

footer section {
  color: #ffffff;
  font-family: "Quicksand", Sans-serif;
  text-decoration: none;
  display: inline-block;
}
footer h4 {
  font-size: 26px;
}
section.menufooter {
  display: block;
}

li.footer1 a {
  color: #ffffff;
  font-family: "Quicksand", Sans-serif;
  text-decoration: none;
  font-size: 16px;
  display: block;
}

p.footer-mission {
  font-weight: 300;
  font-size: 16px;
  color: #95969b;
  line-height: 26px;
  font-family: "Nunito", sans-serif;
}
.footer2 a {
  color: #ffffff;
  font-family: "Quicksand", Sans-serif;
  text-decoration: none;
  font-size: 16px;
  display: block;
}
.footer3 a {
  color: #ffffff;
  font-family: "Quicksand", Sans-serif;
  text-decoration: none;
  font-size: 16px;
  clear: both;
}
.footer4 a {
  color: #ffffff;
  font-family: "Quicksand", Sans-serif;
  text-decoration: none;
  font-size: 16px;
  clear: right;
}
.footer5 a {
  color: #ffffff;
  font-family: "Quicksand", Sans-serif;
  text-decoration: none;
  font-size: 16px;
  clear: right;
}
.footer6 a {
  color: #ffffff;
  font-family: "Quicksand", Sans-serif;
  text-decoration: none;
  font-size: 16px;
  clear: right;
}

ul.footer {
  list-style-type: none;
}

section .sec-ccab {
  position: absolute;
  z-index: 5;
  top: 115px;
  left: 309px;
  display: inline-block;

  width: 498px;
  height: 320px;
}

h4.help-h {
  padding-left: 40px;
}
section.sec-footer-menu {
  display: inline-block;

  width: 300px;
  height: 320px;
  position: absolute;
  z-index: 5;
  top: 115px;
  left: 907px;
}

section.sec-contact {
  position: absolute;
  z-index: 5;
  top: 115px;
  height: 320px;
  left: 1287px;
}

.contact-h {
  padding-left: 40px;
}
.address-ccab {
  padding-left: 40px;
}

ul.social-media-icons li {
  padding: 5px;
  list-style-type: none;
  display: inline-block;
}

section.bottom-sec {
  display: inline-block;
  width: 100%;
  position: absolute;
  text-align: center;
  top: 480px;
}

img.bottom-img1 {
  display: inline-block;
  padding-right: 5px;
}

img.bottom-img2 {
  display: inline-block;
  float: right;
  padding-right: 50px;
}

p.bottom-ccab {
  display: inline-block;
}

span.bottom-vert1 {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

span.bottom-vert2 {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

p.bottom-rights {
  display: inline-block;
}

p.bottom-privacy {
  display: inline-block;
}
